In [1]:
import warnings
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
%matplotlib inline

In [4]:
PATH_TO_ALL_DATA = '../'

In [5]:
%%time
train_df = pd.read_csv(os.path.join(PATH_TO_ALL_DATA,'train.csv'))

CPU times: user 16.6 s, sys: 1.03 s, total: 17.6 s
Wall time: 18 s

In [7]:
%%time
asset_details_df = pd.read_csv(os.path.join(PATH_TO_ALL_DATA,'asset_details.csv'))

CPU times: user 4.21 ms, sys: 4.01 ms, total: 8.22 ms
Wall time: 7.35 ms

In [9]:
asset_details_df.head(20)

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [10]:
train_df['Asset_ID'] = train_df['Asset_ID']+1
asset_details_df['Asset_ID'] = asset_details_df['Asset_ID']+1

In [11]:
%%time
onehot_encoder = OneHotEncoder(categories='auto',sparse=False)
encoded_categorical_columns = pd.DataFrame(onehot_encoder.fit_transform(train_df.Asset_ID.values.reshape(-1,1)))

CPU times: user 1.43 s, sys: 848 ms, total: 2.28 s
Wall time: 2.28 s

In [14]:
encoded_categorical_columns.head(10)

    0    1    2    3    4    5    6    7    8    9    10   11   12   13
0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
8  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [15]:
train_df['Asset_ID'] = encoded_categorical_columns

ValueError: Columns must be same length as key

In [16]:
train_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,3,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,1,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,2,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,6,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,8,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [25]:
train_df.loc[train_df['Asset_ID'] == 2].head(15)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
2,1514764860,2,229.0,13835.194,14013.8,13666.11,13850.176,31.550062,13827.062093,-0.014643
10,1514764920,2,235.0,13835.036,14052.3,13680.00,13828.102,31.046432,13840.362591,-0.015037
18,1514764980,2,528.0,13823.900,14000.4,13601.00,13801.314,55.061820,13806.068014,-0.010309
26,1514765040,2,435.0,13802.512,13999.0,13576.28,13768.040,38.780529,13783.598101,-0.008999
34,1514765100,2,742.0,13766.000,13955.9,13554.44,13724.914,108.501637,13735.586842,-0.008079
42,1514765160,2,554.0,13717.714,14000.7,13520.00,13717.112,70.805776,13706.952030,-0.004422
50,1514765220,2,546.0,13720.922,14001.4,13501.01,13670.940,70.762103,13683.843336,-0.008873
58,1514765280,2,437.0,13669.246,13914.6,13504.99,13721.348,78.298555,13701.600413,-0.008492
66,1514765340,2,288.0,13713.412,13948.9,13539.99,13720.260,60.100796,13720.524584,-0.006282
74,1514765400,2,270.0,13713.610,13948.5,13530.00,13719.902,56.578007,13711.904983,-0.003889
82,1514765460,2,332.0,13719.018,13948.6,13400.01,13706.596,56.261278,13705.183348,-0.002272
90,1514765520,2,251.0,13703.404,13902.8,13485.41,13690.992,29.137070,13689.258861,-0.002929
98,1514765580,2,257.0,13690.790,13900.0,13473.47,13696.638,21.794143,13691.957069,-0.003605
106,1514765640,2,243.0,13688.492,13876.0,13500.35,13697.658,35.304522,13690.888801,-0.003811
114,1514765700,2,250.0,13702.502,13893.9,13505.00,13678.486,49.199846,13684.581860,0.003995

In [27]:
btc = train_df[train_df["Asset_ID"]==2].set_index("timestamp")

In [41]:
btc.head(16)

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
timestamp,,,,,,,,,
1514764860,2,229.0,13835.194,14013.80,13666.11,13850.176,31.550062,13827.062093,-0.014643
1514764920,2,235.0,13835.036,14052.30,13680.00,13828.102,31.046432,13840.362591,-0.015037
1514764980,2,528.0,13823.900,14000.40,13601.00,13801.314,55.061820,13806.068014,-0.010309
1514765040,2,435.0,13802.512,13999.00,13576.28,13768.040,38.780529,13783.598101,-0.008999
1514765100,2,742.0,13766.000,13955.90,13554.44,13724.914,108.501637,13735.586842,-0.008079
1514765160,2,554.0,13717.714,14000.70,13520.00,13717.112,70.805776,13706.952030,-0.004422
1514765220,2,546.0,13720.922,14001.40,13501.01,13670.940,70.762103,13683.843336,-0.008873
1514765280,2,437.0,13669.246,13914.60,13504.99,13721.348,78.298555,13701.600413,-0.008492
1514765340,2,288.0,13713.412,13948.90,13539.99,13720.260,60.100796,13720.524584,-0.006282
1514765400,2,270.0,13713.610,13948.50,13530.00,13719.902,56.578007,13711.904983,-0.003889
1514765460,2,332.0,13719.018,13948.60,13400.01,13706.596,56.261278,13705.183348,-0.002272
1514765520,2,251.0,13703.404,13902.80,13485.41,13690.992,29.137070,13689.258861,-0.002929
1514765580,2,257.0,13690.790,13900.00,13473.47,13696.638,21.794143,13691.957069,-0.003605
1514765640,2,243.0,13688.492,13876.00,13500.35,13697.658,35.304522,13690.888801,-0.003811
1514765700,2,250.0,13702.502,13893.90,13505.00,13678.486,49.199846,13684.581860,0.003995
1514765760,2,392.0,13620.185,13702.71,13450.39,13604.025,55.076481,13607.979813,0.003169

In [29]:
btc_mini_2021 = btc[:200]

In [86]:
# define function to compute log returns
def log_return(series, periods=1):
    return -np.log(series).diff(periods=periods)

In [88]:
period = -15
lret_btc = log_return(btc_mini_2021.Close,periods=period)#[:period] #skip first row
print(lret_btc[:10])

timestamp
1514764860   -0.017932
1514764920   -0.014751
1514764980   -0.015151
1514765040   -0.010362
1514765100   -0.009040
1514765160   -0.008112
1514765220   -0.004432
1514765280   -0.008912
1514765340   -0.008528
1514765400   -0.006301
Name: Close, dtype: float64

In [90]:
btc_mini_2021.loc["Target_single"]=lret_btc

/home/edoardo/anaconda3/envs/gresearch_kaggle/lib/python3.7/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [95]:
btc_mini_2021.head()

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Target_single
timestamp,,,,,,,,,,
1514764860,2.0,229.0,13835.194,14013.8,13666.11,13850.176,31.550062,13827.062093,-0.014643,-0.017932
1514764920,2.0,235.0,13835.036,14052.3,13680.00,13828.102,31.046432,13840.362591,-0.015037,-0.014751
1514764980,2.0,528.0,13823.900,14000.4,13601.00,13801.314,55.061820,13806.068014,-0.010309,-0.015151
1514765040,2.0,435.0,13802.512,13999.0,13576.28,13768.040,38.780529,13783.598101,-0.008999,-0.010362
1514765100,2.0,742.0,13766.000,13955.9,13554.44,13724.914,108.501637,13735.586842,-0.008079,-0.009040

In [99]:
def convert_to_vw(dataframe):
    f = open(os.path.join(PATH_TO_ALL_DATA,'train_vw.vw'), 'v')
    for i,item in dataframe.iterrows():
        f.write(f"i:{i} | Count:{item.Count} Open:{item.Open} High:{item.High} Low:{item.Low} Close:{item.Close} Volume:{item.Volume}")
        f.write('\n')

print(convert_to_vw(btc_mini_2021[:2]))

i:1514764860 | Count:229.0 Open:13835.194 High:14013.8 Low:13666.11 Close:13850.176 Volume:31.55006152
i:1514764920 | Count:235.0 Open:13835.035999999998 High:14052.3 Low:13680.0 Close:13828.102000000004 Volume:31.046432110000005
None